*{
    margin: 0;
}

.body{
    width: 100%;
}
.inputPlace{
    display: flex;
}
p{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    justify-content: center;
    display: flex;
    width: 100%;
}
.inputButtons{
    width: 400px;
    flex-direction: row;
    margin: 20px;
}
.inputButtons button {
    height: 60px;
    width: 60px;
}
.equal {
    height: 50px;
    width: 50px;
}
.inputVal { 
    padding-top: 40px;
    margin: 20px 20px 20px ;
    width: 374px;
    height: 30px;
    display: block;
}