.inputPlace{
    display: flex;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    margin: 50px auto;
    width: 500px;
    background-color: #CCCCCC; 
    border-color: aliceblue;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    box-shadow: 4px 4px 4px gray;
}
.inputButtons{
    margin: 74px;
}
 #clear{
    width: 300px;
 }
 #zero{
    width: 150px;
 }
.btn {
    width: 75px;
    height: 75px;
    background-color: #669999;
    text-align: center;
    font-size: 30px;
}
.btn:hover{
    filter: brightness(130%);
}
.equal {
    height: 50px;
    width: 50px;
}
.inputVal { 
    text-align: right;
    font-size: 70px;
    line-height: 20px;
    padding-top: 40px;
    margin: 74px 20px 74px ;
    width: 400px;
    height: 30px;
    display: block;
    padding-bottom: 25px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}